* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  margin: 0;
  background-color: rgba(1, 18, 40, 0.87);
}

nav {
  background-color: #023e71;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 440px) {
  nav {
    margin-top: 20px;
  }
}

.navbar {
  display: grid;
  grid-template-columns: repeat(4, -webkit-max-content);
  grid-template-columns: repeat(4, max-content);
  grid-gap: 10px;
}

@media (min-width: 440px) {
  .navbar {
    margin-right: 30px;
  }
}

.navlink {
  color: white;
  font-weight: 600;
}

.container {
  width: 80%;
  background-color: #f6f6f6;
  height: 100%;
  margin: auto;
  position: relative;
  margin-bottom: 50px;
}

@media (max-width: 440px) {
  .container {
    width: 99%;
  }
}

.container-full {
  display: grid;
  grid-template-columns: 1fr;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-gap: 20px;
  padding: 30px;
  background-color: #cbcccd;
}

@media (max-width: 440px) {
  .wrapper {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}

.wrapper-links {
  display: flex;
  flex-direction: column;
  background-color: rgba(241, 242, 243, 0.28);
  padding: 10px;
  border-radius: 2px;
  line-height: 1.3rem;
  box-shadow: 0px 0px 4px 0px #c2c4c2;
  justify-content: space-between;
  background-color: white;
}

.link-title {
  font-weight: lighter;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.link-text {
  border: transparent;
  cursor: pointer;
  color: #014b68;
  text-decoration: underline;
}

.description-wrapper {
  display: grid;
  margin-bottom: 10px;
  width: 100%;
}

.link-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.is-invalid {
  color: red;
  font-size: 0.8rem;
}

.fixed-cat {
  font-size: 0.9rem;
}

.link {
  color: blue;
}

.create-wrapper {
  margin-top: 30px;
  min-height: 50px;
  width: 60%;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px #9ab7c7, 0px 0px 5px 0px #c9c7c7;
  margin: auto;
  margin-bottom: 20px;
}

.create-wrapper {
  display: grid;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(128, 128, 128, 0.87);
  padding: 20px 30px;
  width: 45%;
}

@media (max-width: 440px) {
  .create-wrapper {
    width: 99%;
    padding: 10px;
  }
}

.register-form {
  width: 100%;
  display: grid;
  background-color: transparent;
  margin-bottom: 30px;
}

.access-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #106ee0;
  font-size: 1.5rem;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  line-height: 1;
  margin-bottom: 20px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

.form-controls {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 0.8rem;
}

.form-group-checkbox {
  padding: 10px;
  font-size: 0.9rem;
  align-self: center;
  margin: auto;
}

label {
  color: #042349;
  font-weight: 500;
}

.form-controls:active,
.form-controls:focus {
  border: 1px solid #1959a8;
}

.form-controls::-moz-placeholder {
  color: #1959a8;
}

.form-controls:-ms-input-placeholder {
  color: #1959a8;
}

.form-controls::-ms-input-placeholder {
  color: #1959a8;
}

.form-controls::placeholder {
  color: #1959a8;
}

.btn-register {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  padding: 10px 20px;
  background-image: linear-gradient(40deg, #058db6, #1959a8);
  color: white;
  border: transparent;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.btn-register:hover > .btn-register--effect {
  color: #1959a8;
}

.btn-register:hover {
  -webkit-animation: loginAnimation 5s linear 0s infinite;
          animation: loginAnimation 5s linear 0s infinite;
}

@-webkit-keyframes loginAnimation {
  0% {
    background-color: green;
    background-position: right;
  }

  50% {
    background-color: yellow;
    background-position: 50px;
  }
}

@keyframes loginAnimation {
  0% {
    background-color: green;
    background-position: right;
  }

  50% {
    background-color: yellow;
    background-position: 50px;
  }
}

.modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(28, 27, 27, 0.62);
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  width: 100%;
  padding: 40px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px #9ab7c7, 0px 0px 5px 0px #c9c7c7;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

@media (min-width: 440px) {
  .modal-wrapper {
    width: 60%;
  }
}

.modal {
  width: 100%;
  margin-top: 10%;
}

@media (min-width: 440px) {
  .modal {
    margin-top: unset;
    padding-right: 10%;
  }
}

.modal-group {
  line-height: 1.5;
  margin-bottom: 10px;
  display: grid;
}

.title {
  color: #1869f5;
  font-family: Helvetical, "sans serif";
  font-size: 1.2rem;
}

.content-wrapper {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid rgba(165, 164, 164, 0.9);
  border-radius: 3px;
  margin: 0;
  font-size: 0.9rem;
}

.icon-wrapper {
  display: grid;
  justify-items: center;
  background-color: white;
  box-shadow: 0px 0px 0px 1px #bee0f6, 0px 0px 5px 0px #c9c7c7;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add {
  color: #1869f5;
}

.remove {
  color: #f61d1d;
}

.add:hover {
  background-color: #1869f5;
  color: #fff;
  box-shadow: unset;
}

.remove:hover {
  background-color: #f61d1d;
  color: #fff;
  box-shadow: unset;
}

.add-icon {
  font-size: 2rem;
}

.add-close-icon {
  font-size: 1.5rem;
}

.add-text {
  font-size: 0.8rem;
}

.side-menu {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 200px;
  max-height: 200px;
  background-color: #d5d5d5;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media (max-width: 440px) {
  .side-menu {
    right: 0px;
    top: 0;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    border-radius: 0px 5px 0px 0px;
  }
}

.close-menu {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px;
  position: absolute;
  right: -2px;
  top: -2px;
  color: white;
  background-color: #f61d1d;
  display: grid;
  justify-items: center;
  z-index: 2;
  border-radius: 0px 5px 0px 0px;
  cursor: pointer;
}

@media (max-width: 440px) {
  .close-menu {
    right: unset;
    left: 0;
    border-radius: 5px 0px 0px 0px;
  }
}

.close-menu:hover {
  background-color: white;
  color: #f61d1d;
  right: 0px;
  top: 0px;
}

